.connection-status {
    color: green;
    text-align: center;
}

.navigation-background {
    background-color: #EDEFF0;
}

.footer-text {
    text-align: center;
}

.row-in-table-background{
    background-color: #F4F5F9;
}

.hover-background{
    background-color: #98b3ff;
}

.wxi-close{
    float:right;
    margin-top: 5px;
}

.user-yellow-background{
    background-color: yellow;
}